:root {
  --main-Color: #0dcaf0;
}
body {
  font-family: "Roboto", sans-serif !important ;
}

nav .navbar-nav a {
  border: 3px solid transparent;
  transition: color 0.3s, border-color 0.3s;
}

.navbar-nav a:hover {
  border-color: var(--main-Color);
  color: var(--main-Color) !important;
}

header {
  height: 50vh;
  background-image: url(../images/banner.png);
  background-size: cover;
}

.search {
  outline: none;
}

input[type="button"] {
  top: 5px;
  right: 5px;
  bottom: 5px;
  background-color: var(--main-Color);
  border: none;
  color: white;
}

.forcast-container {
  background: rgb(255 255 255 / 10%);
}

.forcast-head {
  font-size: 14px;
  padding-inline: 1rem;
  background: rgba(0, 0, 0, 0.2);
}

.middle-col {
  background: rgba(0, 0, 0, 0.4);
}

footer {
  background: #383b3f;
}
footer .icons a {
  text-decoration: none;
   width: 40px;
    height: 40px;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease !important;
  color: var(--main-Color);
}

footer .icons a:hover {
background-color: var(--main-Color) !important;
color: white;
}

/* #37404b */